1.In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*
'hello'  -87.8  -  /  +  6

#Answer

*,-,/,+ are expressions.

'hellow',-87.8,6 are values.

2.What is the difference between string and variable?

#Answer

String is variable which is sequence of characters but variable is a container that stores data.

3.Describe three different data types.

#Answer

(1)Numeric

       (I)int - This values is represented by int class and it contains positive and negative integer values.example- 2,4,5
       (II)float - This value is represented by float class and it contains decimal numbers.example- 2.5,5.6,9.0
       (III)complex number - This value is represented by complex class and it contains.example- 5+4i,1+2i,7+5j
        
(2)Sequence
    
       (I)string - String are arrays of bytes representing unicode character.It is a sequence of character.example -
        'neeraj'
       (II)list - It is a ordered collection of data that stores all types of data and we represents as [].It is mutable.
       (III)tuple -It is a ordered collection of data that stores all types of data and we represents as ().It is immutable.
        
(3)Boolean
       
         It has two in-built values, True and false.The boolean object that are equal to True is true and
         the boolean object that are equal to False is false.

4. What is an expression made up of? What do all expressions do?

#Answer

An expression is combination of operator and operands.The expression is evaluated to produce some other value and is           evaluated as per precedence of operator.

5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#Answer

An expression is combination of operator and operands which evaluated to produce some other value but
any instruction that a python interpreter can execute is called statement.for example a+15 is expression but print(a)
is statement.

6.After running the following code, what does the variable bacon contain?
   bacon = 22
   bacon + 1

In [4]:
#Answer
bacon = 22
bacon + 1

23

7.What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [8]:
#Answer
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam' * 3

'spamspamspam'

8.Why is eggs a valid variable name while 100 is invalid?

#Answer

In Python programming language as per naming rule of variables, it should be starts with alphabets or underscore (_)
so 'eggs' is a valid variable but 100 is invalid.

9.What three functions can be used to get the integer, floating-point number, or string
version of a value?

#Answer

int(), float(), string() functions can be used to get integer, floating-point number and string version of a value respectively.

10.Why does this expression cause an error? How can you fix it?

     'I have eaten ' + 99 + ' burritos.'

#answer

Here the first and last data is string type and we are concatinating them with a int data type and by coverting 99 into a string by using str() function..

In [24]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'